/* darkmode button start */
.dark-mode {
  background-color: #0B1622;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

#DarkModetext {
  color: #f4d58dff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* darkmode button end */


/* icon bar start */

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: rgb(66, 4, 1);
}

.linkedin {
  background: #3B5998;
  color: white;
  border-radius: 0px 10px 0px 0px;
}

.github {
  background: black;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
  border-radius: 0px 0px 10px 0px;
}

@media (max-width: 500px) {
  .icon-bar {
      display: none;
  }
}

/* icon bar end */

/* Custom Scrollbar and disable standard start */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8);
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #bf0603ff, #8d0801ff, #f4d58dff, #f4d58dff, #8d0801ff, #bf0603ff);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, violet, indigo, blue, green, yellow, orange, red);
}

/* Custom Scrollbar and disable standard end */

/* Custom Mouse Cursor start */

body {
  cursor: url('../images/cursor/DP-64x64.cur'), auto;
}

button, a, li {
  cursor: url('../images/cursor/BR-64x64.cur'), auto;
}

/* Custom Mouse Cursor end */