/* CSS HEX 
--oxford-blue: #001427ff;
--hookers-green: #708d81ff;
--jasmine: #ffd166;
--engineering-orange: #bf0603ff;
--dark-red: #8d0801ff;
*/

html, body {
    margin: 0;
    font-family: 'Poppins', 'Black', 'Roboto', sans-serif;
    background-color: #0B1622;
    padding: 0;
}

:root {
  --oxford-blue: #001427;
  --hookers-green: #708d81;
  --jasmine: #f4d58d;
  --engineering-orange: #bf0603;
  --card-bg: #0b2239;
  --white: white;
}

.projects-page {
  background-color: var(--oxford-blue);
  padding: 2rem 2rem;
  color: var(--white);
}

.projects-container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-title {
  font-size: 3rem;
  color: var(--engineering-orange);
  margin-bottom: 0.5rem;
}

.page-subtitle {
  color: var(--white);
  margin-bottom: 0rem;
  max-width: 600px;
}

.page-subtitle-secondary {
  color: var(--white);
  margin-bottom: 3rem;
  max-width: 600px;
}

.section-title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: var(--jasmine);
}

.section-title-secondary {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  margin-top: 2em;
  color: var(--jasmine);
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 900px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-card {
  background-color: var(--card-bg);
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255,255,255,0.05);
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.project-image img {
  width: 100%;
  height: 180px;
}

.project-content {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.project-content h3 {
  margin-bottom: 1rem;
  color: var(--engineering-orange);
}

.project-content p {
  flex-grow: 1;
  font-size: 0.95rem;
  line-height: 1.5;
  color: var(--white);
}

.project-tags {
  margin: 1rem 0;
}

.project-tags span {
  display: inline-block;
  background-color: rgba(244, 213, 141, 0.1);
  color: var(--jasmine);
  padding: 0.3rem 0.7rem;
  margin: 0.2rem;
  border-radius: 20px;
  font-size: 0.75rem;
}

.project-links {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.btn-primary {
  background-color: #bf0603ff;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.85rem;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background-color: #910202;
}

.btn-secondary {
  background-color: #bf0603ff;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.85rem;
  transition: 0.3s ease;
}

.btn-secondary:hover {
  background-color: #910202;
  color: white;
}