/* CSS HEX 
--oxford-blue: #001427ff;
--hookers-green: #708d81ff;
--jasmine: #ffd166;
--engineering-orange: #bf0603ff;
--dark-red: #8d0801ff;
*/

html, body {
    margin: 0;
    font-family: 'Poppins', 'Black', 'Roboto', sans-serif;
    background-color: #0B1622;
}

.techstacksimg {
    width: 100%;
    border-radius: 20px;
    background-color: #151F2E;
    padding: 20px;
    box-sizing: border-box;
}

figure {
    margin: 20px;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 1400px;
    margin: 0 auto;
}

.sections section {
    flex: 1 1 230px;
    max-width: 250px;
}

.imgtext {
    color: #ffd166;
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    width: 100%;
    margin-bottom: 5px;
}

.flip-container {
    perspective: 1000px;
}

.flip-container.flip .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.back {
    transform: rotateY(180deg);
    background-color: #1c4b91;
    width: 100%; 
    height: 100%;
    color: red;
}

.back p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

/* @media screen and (min-width: 900px) and (max-width: 1300px) {
    .imgtext {
        font-size: 1.5em;
    }
    
}

@media screen and (min-width: 400px) and (max-width: 900px) {
    .imgtext {
        font-size: 1em;
    }
    
} */

@media (max-width: 500px) {
    .sections section {
        flex: 1 1 calc(50% - 13px);
        max-width: none;
        padding: 8px;
        box-sizing: border-box;
    }
    figure {
        margin: 0px;
    }
    .techstacksimg {
        width: 100%;
        padding: 15px;
    }
    .imgtext {
        width: 100%;
        font-size: 1.7em;
        text-align: center;
    }
    .gradient {
        font-size: 1.6em !important;
    }
}


@media (max-width: 499px) {
    .icon-bar {
        display: none;
    }
}

@media (min-width: 1500px) {
    .sections {
        max-width: 1600px;
        margin: 0 auto;
    }
    .sections section {
        flex-basis: 16%;
    }
}
#topofpage {
    display: none;
}

.divider {
    display: flex;
    margin: auto;
    
    &:before,
    &:after {
    content: "";
    flex: 1;
    }
}

.gradient {
    align-items: stretch;
    margin: 1em auto;
    height: 2em;
    line-height: 2em;
    color: white;
    background: rgb(11, 22, 34);
    font-size: 2em;
    font-weight: bold;
    width: 80%;
    
    &:before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(11, 22, 34, 0.2));
    border-radius: 40px;
    }
    
    &:after {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.2), rgba(11, 22, 34, 0.2));
    border-radius: 40px;
    }
}

.animated-text {
    font-size: 1.7em;
}