/* CSS HEX 
--oxford-blue: #001427ff;
--hookers-green: #708d81ff;
--jasmine: #f4d58dff;
--engineering-orange: #bf0603ff;
--dark-red: #8d0801ff;
*/

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #001427ff;
}

#headername {
    font-size: 2.5em;
    text-align: center;
    color: #bf0603ff;
    margin: 0;
}

#headertitel {
    font-size: 1.5em;
    text-align: center;
    color: #8d0801ff;
    margin: 0;
}

#headerlinktext {
    text-decoration: none;
}

.navmenu {
    margin-top: 20px;
}

.navlinks {
    text-decoration: none;
    color: #708d81ff;
    margin: 10px;
}

.techstacksimg {
    width: 80%;
    border: 3px solid #f4d58dff;
    border-radius: 10px;
    margin: 20px;
    background-color: #708d81ff;
}

.sections {
    display: flex;
}

.imgtext {
    color: #f4d58dff;
    text-align: center;
    font-size: 2.5em;
}

@media screen and (max-width: 1200px) {
    .imgtext {
        font-size: 1.5em;
    }
    
}