/* CSS HEX 
--oxford-blue: #001427ff;
--hookers-green: #708d81ff;
--jasmine: #f4d58dff;
--engineering-orange: #bf0603ff;
--dark-red: #8d0801ff;
*/

html, body {
    margin: 0;
    font-family: 'Poppins', 'Black', 'Roboto', sans-serif;
    background-color: #0B1622;
}

header {
    background-color: #0e1c2e;
    margin: 0;
}

#headername {
    font-size: 2.5em;
    text-align: center;
    color: #bf0603ff;
    margin: 0;
    font-weight: 800;
    font-family: 'Poppins', 'Black', 'Roboto', sans-serif;
}

#headertitel {
    font-size: 1.5em;
    text-align: center;
    color: #8d0801ff;
    margin: 0;
    padding-bottom: 5px;
}

a:hover {
    text-decoration: underline;
}

#headerlinktext {
    text-decoration: none;
}

nav {
    text-align: center;
    background-color: #152232;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.navlinks {
    text-decoration: none;
    color: #708d81ff;
    margin: 10px;
    font-size: 1.2em
}

.techstacksimg {
    width: 80%;
    border-radius: 30px;
    margin: 20px;
    background-color: #151F2E;
    padding: 30px;
}

.sections {
    display: flex;
    flex-wrap: wrap;
}

.sections section {
    flex-basis: 20%;
    /* antal sections i hvert row = 5*/

}

.imgtext {
    color: #f4d58dff;
    text-align: center;
    font-size: 2.2em;
    font-weight: 600;
    width: 110%;
}


/* @media screen and (min-width: 900px) and (max-width: 1300px) {
    .imgtext {
        font-size: 1.5em;
    }
    
}

@media screen and (min-width: 400px) and (max-width: 900px) {
    .imgtext {
        font-size: 1em;
    }
    
} */

@media screen and (max-width: 1350px) {
    .sections section {
        flex-basis: 33.33%;
        /* antal sections fra 5 til 3 */
    }
}

@media screen and (max-width: 850px) {
    .sections section {
        flex-basis: 50%;
    }
}