/* CSS HEX 
--oxford-blue: #001427ff;
--hookers-green: #708d81ff;
--jasmine: #f4d58dff;
--engineering-orange: #bf0603ff;
--dark-red: #8d0801ff;
*/

html, body {
    margin: 0;
    font-family: 'Poppins', 'Black', 'Roboto', sans-serif;
    background-color: #0B1622;
}

header {
    background-color: #0e1c2e;
    margin: 0;
}

#headername {
    font-size: 2.5em;
    text-align: center;
    color: #bf0603ff;
    margin: 0;
    font-weight: 800;
    font-family: 'Poppins', 'Black', 'Roboto', sans-serif;
}

#headertitel {
    font-size: 1.5em;
    text-align: center;
    color: #8d0801ff;
    margin: 0;
    padding-bottom: 5px;
}

a:hover {
    text-decoration: underline;
}

#headerlinktext {
    text-decoration: none;
}

nav {
    text-align: center;
    background-color: #152232;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.navlinks {
    text-decoration: none;
    color: #708d81ff;
    margin: 10px;
    font-size: 1.2em
}

.navlinks2 {
    text-decoration: none;
    color: rgb(103, 163, 138);
    margin: 10px;
    font-size: 1.2em
}

h1 {
    color: #f4d58dff;
    text-align: center;
    font-size: 2em;
    margin: 0;
}

#gameheader {
    text-decoration: underline overline #b30000;
    text-underline-offset: 5px;
    font-size: 2em;
    color: #f4d58dff;
}

#gameinfo {
    color: #f4d58dff;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding-top: 20px;
}

p {
    color: #f4d58dff;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding-top: 20px;
}

.pred {
    color: #b30000;
    text-decoration: underline;
}

#gamelink {
    text-decoration: none;
    color: #8d0801ff;

}

h4 {
    font-size: 1.2em;
    margin: 0;
    padding-top: 10px;
}

h4 a:hover {
    text-decoration: underline;
}

#info {
    text-align: center;
}