/* CSS HEX 
--oxford-blue: #001427ff;
--hookers-green: #708d81ff;
--jasmine: #f4d58dff;
--engineering-orange: #bf0603ff;
--dark-red: #8d0801ff;
*/

html, body {
    margin: 0;
    font-family: 'Poppins', 'Black', 'Roboto', sans-serif;
    background-color: #0B1622;
}

header {
    background-color: #0e1c2e;
    margin: 0;
}

#headername {
    font-size: 2.5em;
    text-align: center;
    color: #bf0603ff;
    margin: 0;
    font-weight: 800;
    font-family: 'Poppins', 'Black', 'Roboto', sans-serif;
}

#headertitel {
    font-size: 1.5em;
    text-align: center;
    color: #8d0801ff;
    margin: 0;
    padding-bottom: 5px;
}

a:hover {
    text-decoration: underline;
}

#headerlinktext {
    text-decoration: none;
}

nav {
    text-align: center;
    background-color: #152232;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.navlinks {
    text-decoration: none;
    color: #708d81ff;
    margin: 10px;
    font-size: 1.2em
}

.navlinks2 {
    text-decoration: none;
    color: rgb(103, 163, 138);
    margin: 10px;
    font-size: 1.2em
}

h1 {
    color: #f4d58dff;
    text-align: center;
    font-size: 2em;
    margin: 0;
}

#gameheader {
    text-decoration: underline overline #b30000;
    text-underline-offset: 5px;
    font-size: 2em;
    color: #f4d58dff;
}

#gameinfo {
    color: #f4d58dff;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding-top: 20px;
}

.pred {
    color: #b30000;
    text-decoration: underline;
}

#gamelink {
    color: #8d0801ff;

}

h4 {
    font-size: 1.2em;
    margin: 0;
    padding-top: 10px;
}

#info {
    text-align: center;
}

.wrap {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%; /* Set the width to 50% */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.el {
    float: left;
    margin: 1%;
    border-radius: 30px;

}

.el1 {
    width: 31.33%;
    padding-bottom: 10%;
    background: #151F2E;
    order: 2;
}

.el2 {
    float: right;
    width: 64.66%;
    background: #151F2E;
    order: 1;
    display: flex;
    align-items: center;
}

.el2 img {
    width: 45%; /* adjust as needed */
    margin-right: 5%; /* adjust as needed */
    border-radius: 20px;
    padding-left: 40px;
}

.el2 .text {
    width: 40%; /* adjust as needed */
}

.el3 {
    width: 31.33%;
    padding-bottom: 14.66%;
    background: #151F2E;
    order: 3;
}

.el4 {
    width: 31.33%;
    padding-bottom: 6.33%;
    background: #151F2E;
    order: 4;
}

.p.header {
    text-decoration: underline;
    color: #f4d58dff;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding-top: 20px;
}

.p.header2 {
    color: #f4d58dff;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding-top: 20px;
    text-align: left;
    padding-left: 20px;
}

@media (max-width: 1200px) {
    .wrap {
        flex-direction: column;
    }
    .el1, .el2, .el3, .el4 {
        width: 100%;
        /* update padding-bottom if needed */
    }
    .el2 img {
        margin-right: 0;
        padding-left: 0;
    }
}

